<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="add-mov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }

      .ok{
        display: none;
      }
    </style>
    <div id="add">
      <div class="container">
        <div class="row">
          <table>
            <tr>
              <td> <label class="label-info">Importe: </label></td>
              <td> <label class="label-info">Categoria: </label></td>
            </tr>
            <tr>
              <td>
                <input id="importe" name="importe" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
              <td>
                <input id="catego" name="catego" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
            </tr>
          </table>
        </div>
        <br/>
        <div class="row">
          <button class="btn btn-info col-lg-4 col-xs-12" type="button" on-click="addMov">Agregar</button>
        </div>
      </div>
      <div id="ok" class="ok">
        <label>Operacion exitosa</label>
      </div>
    </div>
  </template>

  <script>
    class AddMov extends Polymer.Element {
      static get is() { return 'add-mov'; }

      addMov(){
        var user = sessionStorage.getItem('user');
        if(user != null){
          var date = new Date();
          var mes = date.getMonth();
          var dia = date.getDate();
          var fecha = dia+"-"+mes+"-"+date.getFullYear();
          var mins = date.getMinutes();
          var hrs = date.getHours();
          var hora = hrs+":"+mins;
          var importe = this.$.importe.value;
          var catego = this.$.catego.value;

          console.log( "importe: " + importe);
          console.log( "catego: " + catego);
          console.log( "user: " + user);
          console.log( "fecha: " + fecha);
          console.log( "Hora: " + hora);


            var request = new XMLHttpRequest();
            var data = {
                      "importe": importe,
                      "catego": catego,
                      "user": user,
                      "fecha" : fecha,
                      "hora" : hora
                    };

            var json = JSON.stringify(data);
            console.log( "user: " + json);

            request.open("POST","http://localhost:3000/altaMov",false);
            request.setRequestHeader('Content-type','application/json; charset=utf-8');
            request.send(json);
            console.log( request.responseText);
            if(request.status == 200){
              alert("Operación Exitosa");

                this.$.importe.value = "";
                this.$.catego.value = "";

            }else {
              alert("Verifique su información");
            }
        }else {
          alert("Debes iniciar sesión");
        }
      }
    }

    window.customElements.define(AddMov.is, AddMov);
  </script>
</dom-module>
