<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="add-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }


    </style>
    <div id="add">
      <div class="container">
        <div class="row">
          <table>
            <tr>
              <td> <label class="label-info">Nombre: </label>  </td>
              <td> <label class="label-info">Apellido Paterno: </label></td>
              <td> <label class="label-info">Apellido Materno: </label></td>
            </tr>
            <tr>
              <td>
                <input id="nombre" name="nombre" type="text" value="" autocomplete="off" maxlength="30" required=true  required="required">
              </td>
              <td>
                <input id="apepat" name="apepat" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
              <td>
                <input id="apemat" name="apemat" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <label class="label-info">ID Usuario: </label>
        </div>
        <div class="row">
          <input id="user" name="user" type="text" value="" autocomplete="off" pattern="^([A-Z0-9]){8,8}$" required="required"  onkeyup="this.value = this.value.toUpperCase();">
        </div>
        <div class="row">
          <label class="label-info">Constraseña: </label>
        </div>
        <div class="row">
          <input id="pass" name="pass" type="password" value=""  autocomplete="off"  pattern="^([A-Za-z0-9]){10,10}$" required="required">
        </div>
        <div class="row">
          <label class="label-info">Confirmar constraseña: </label>
        </div>
        <div class="row">
          <input id="passconfirm" name="passconfirm" type="password" value=""  autocomplete="off"  pattern="^([A-Za-z0-9]){10,10}$" required="required">
        </div>
        <br/>
        <div class="row">
          <button class="btn btn-info col-lg-4 col-xs-12" type="button" on-click="addUser">Agregar</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    class AddUser extends Polymer.Element {
      static get is() { return 'add-user'; }

      addUser(){
        var validacion = true;
        var date = new Date();
        var mes = date.getMonth();
        var dia = date.getDate();
        var fecha = dia+"-"+mes+"-"+date.getFullYear();

        var mins = date.getMinutes();
        var hrs = date.getHours();

        var hora = hrs+":"+mins;
        var nombre    = this.$.nombre.value;
        var apepat = this.$.apepat.value;
        var apemat = this.$.apemat.value;
        var user   = this.$.user.value;
        var pass  = this.$.pass.value;
        var passconfirm  = this.$.passconfirm.value;
        var pattUsuario = new RegExp("^([A-Z0-9]){8,8}$");
        var pattPassword = new RegExp("^([A-Za-z0-9]){10,10}$");
        var resultUsuario = pattUsuario.test(user);
        var resultPassword = pattPassword.test(pass);
        var resultPassword2 = pattPassword.test(passconfirm);

        console.log( "nombre: " + nombre);
        console.log( "apellido pat: " + apepat);
        console.log( "apellido materno: " + apemat);
        console.log( "user: " + user);
        console.log( "pass: " + pass);
        console.log( "passconfirm: " + passconfirm);
        console.log( "Login resultUsuario : " + resultUsuario);
        console.log( "Login resultPassword: " + resultPassword)
        console.log( "Login resultPassword2: " + resultPassword2)
        console.log( "fecha: " + fecha);
        console.log( "Hora: " + hora);

        if (nombre.length == 0){
          if(validacion){
            alert("Verifique su información");
            validacion = false;
          }
        }

        if (apepat.length == 0){
          if(validacion){
            alert("Verifique su información");
            validacion = false;
          }
        }

        if (apemat.length == 0){
          if(validacion){
            alert("Verifique su información");
            validacion = false;
          }
        }

        if (!resultUsuario){
          if(validacion){
            alert("Verifique su información");
            validacion = false;
          }
        }

        if (!resultPassword){
          if(validacion){
            alert("Verifique su información");
            validacion = false;
          }
        }else {
          if(passconfirm != pass){
            if(validacion){
              alert("Verifique su información");
              validacion = false;
            }
          }
        }

        if(validacion){
          var request = new XMLHttpRequest();
          var data = {
                    "user": user,
                    "pass": pass,
                    "nombre": nombre,
                    "apepat": apepat,
                    "apemat": apemat,
                    "fecha" : fecha,
                    "hora" : hora
                  };

          var json = JSON.stringify(data);
          console.log( "user: " + json);

          request.open("POST","http://localhost:3000/altaClie",false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8');
          request.send(json);
          console.log( request.responseText);
          if(request.status == 200){
            alert("Operación Exitosa");
            this.$.user.value = "";
            this.$.pass.value = "";
            this.$.nombre.value = "";
            this.$.apemat.value = "";
            this.$.passconfirm.value = "";
            this.$.apepat.value = "";
          }
          else {
            alert("Verifique su información");
          }
        }
      }
    }

    window.customElements.define(AddUser.is, AddUser);
  </script>
</dom-module>
