<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="consult-user">
  <template>
   <style include="shared-styles">
     :host {
       display: block;

       padding: 10px;
     }
     table {
       font-family: arial, sans-serif;
       border-collapse: collapse;
       width: 80%;
     }

     th {
         border: 1px solid #dddddd;
         text-align: center;
         padding: 8px;
     }

     td {
         border: 1px solid #dddddd;
         text-align: left;
         padding: 8px;
     }

     #tdImporte {
         border: 1px solid #dddddd;
         text-align: right;
         padding: 8px;
     }
     .tdFecha {
         border: 1px solid #dddddd;
         text-align: center;
         padding: 8px;
     }
     .tdHora {
         border: 1px solid #dddddd;
         text-align: center;
         padding: 8px;
     }

     tr:nth-child(even) {
         background-color: #dddddd;
     }
     .button {
         background-color: #4CAF50;
         border: none;
         color: white;
         padding: 15px 32px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
     }
   </style>
   <div class="container">
     <div class="row">
       <h1 class="col-lg-12">Consulta de Movimientos</h1>
       <button on-click="obtenerMovimientosCta" class="btn btn-info col-lg-4 col-xs-12">Consultar</button>
     </div>
     <br/>
     <div class="row">
       <table class="table table-striped col-lg-4 col-xs-12">
         <thead>
           <th>Fecha</th>
           <th>Importe</th>
           <th>Categoria</th>
         </thea>
         <tbody>
           <template is="dom-repeat" items="{{movimientos}}">
             <tr>
               <td>[[item.fecha]]</td>
               <td>[[item.importe]]</td>
               <td>[[item.categoria]]</td>
             </tr>
           </temleate>
        </tbody>
       </table>
     </div>
   </div>
 </template>

  <script>
    class ConsultUser extends Polymer.Element {
      static get is() { return 'consult-user'; }
      static get properties() {
        return {
            movimientos:{
            type:Array,
            notify:true
          }
        };
      }

      obtenerMovimientosCta(){
        var request = new XMLHttpRequest();
        var user = sessionStorage.getItem('user');
        console.log( "user: " + user);

        if(user == null){
          alert("Debes iniciar sesión");
        }else{
          var urlConsultMov = "http://localhost:3000/consultaMov?user="+user;
          console.log( "urlConsultMov: " + urlConsultMov);
          request.open("GET",urlConsultMov,false);
          request.send();

          var movimientos = JSON.parse(request.responseText);
          console.log( "movimientos: " + movimientos);
          this.movimientos = movimientos;

        }
      }
    }
    window.customElements.define(ConsultUser.is, ConsultUser);
  </script>
</dom-module>
