<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="customer-manager">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-info col-lg-4 col-xs-12">Obtener Clientes</button>
      </div>
    <br/>
      <div class="row">
        <table class="table table-striped col-lg-4 col-xs-12">
          <thead>
            <th>CustomerID</th>
            <th>ContactName</th>
            <th>CompanyName</th>
          </thea>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </temleate>
         </tbody>
        </table>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CustomerManager extends Polymer.Element {
      static get is() { return 'customer-manager'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        //console.log(this.clientes);
      }
    }
    window.customElements.define(CustomerManager.is, CustomerManager);
  </script>

</dom-module>
