<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div id="Login">
      <div class="container">
        <div class="row">
          <label class="label-info">ID Usuario: </label>
        </div>
        <div class="row">
          <input id="user" name="user" type="text" value="" autocomplete="off" placeholder="usuario" required onkeyup="this.value">
          <!-- <input id="user" name="user" type="text" value="" autocomplete="off" placeholder="usuario" required pattern="^([A-Za-z0-9]){4,20}$"  onkeyup="this.value"> -->
        </div>
        <div class="row">
          <label class="label-info">Contraseña: </label>
        </div>
        <div class="row">
          <input id="pass" name="pass" type="password" value=""  autocomplete="off"  placeholder="contraseña" pattern="^([A-Za-z0-9]){8,10}$" required="required">
        </div>
        <br/>
        <div class="row">
          <button class="btn btn-info col-lg-4 col-xs-12" type="button" on-click="realizaLogin">Ingresar</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    class LoginUser extends Polymer.Element {
      static get is() { return 'login-user'; }
      realizaLogin(){
          var user = this.$.user.value;
          console.log( "Login user : " + user);
          var pass = this.$.pass.value;
          console.log( "Login pass: " + pass);
              var request = new XMLHttpRequest();
              var url ='http://localhost:3000/validaClie?user='+user+'&pass='+pass;
              console.log( "Consulta url: " + url);
              request.open("GET",url,false);
              request.send();
              console.log("request.status: "+request.status);
              console.log("request.responseText: "+request.responseText);

              if(request.status == 200){
                console.log("request.responseText.[0].: "+request.responseText[0]);
                var obj = JSON.parse(request.responseText);
                console.log("obj[0]: "+obj[0].user);
                if(obj[0].user === undefined){
                  alert("Usuario no encontrado");
                }else{
                  sessionStorage.setItem('user', obj[0].user);
                  console.log("subiendo a sessionStorage user: "+ obj[0].user);
                  alert("Ingreso Correcto");
                }
              }else {
                alert("No es posible iniciar sesion, verifique su información");
              }
      }
    }
    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
