<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="logoff-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div id="Login">
      <div class="container">
        <div class="row">
          <label class="label-info">¿Realmente quiere salir de la sesión?</label>
        </div>
        <br/>
        <div class="row">
          <button class="btn btn-info col-lg-4 col-xs-12" type="button" on-click="realizaLogoff">Salir</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    class LogoffUser extends Polymer.Element {
      static get is() { return 'logoff-user'; }
      realizaLogoff(){
        var user = sessionStorage.getItem('user');
        console.log("user: " + user);
        if(user == null){
          alert("Antes de salir debe de tener una sesion activa");
        }else {
          sessionStorage.setItem('user', null);
          console.log("subiendo a sessionStorage user: "+ sessionStorage.getItem('user'));
          alert("Salida Correcta");

        }
      }
    }
    window.customElements.define(LogoffUser.is, LogoffUser);
  </script>
</dom-module>
